{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block 'title' %} Home Page {% endblock %}
{% block 'style' %} href="{% static 'user/home.css' %}" {% endblock %}

{% block 'body' %}
    {% comment %} <div id="nav">
        <div class="lead_nav">
            <h1>Final Year Projects</h1>
        </div>
        <div class="trail_nav">
            <a href="">Dashboard</a>
            <a href="">Profile</a>
            <a href="{% url 'password_change' %}">Change Password</a>
            <a href="{% url 'logout' %}">Logout</a>
            
        </div>
    </div>
     {% endcomment %}
    <section class="text-center bg-white text-dark p-5 text-sm-start">
        <div class="container">
            <div class="d-sm-flex">
                <div>
                    <h1>Online Vehicle <span class="text-success">Registration</span></h1>
                    <p class="lead my-4">we provide online vehicle registration service for easy vehicle
                        registration service
                    </p>
                    <button class="btn btn-lg btn-primary mb-3">Get Started</button>
                </div>
                <img class="img-fluid w-50 d-none d-sm-block" style="border-radius: 35px 20px 35px 020px" src="{% static 'images/car.jpg' %}" />
            </div>
        </div>
    </section>
{% endblock %}