body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#nav{
    display: flex;
    justify-content: space-between;
    width:100%;
    padding:20px;
    box-shadow: 0px 10px  25px #00000043;
    height:80px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.lead_nav{
    font-size: small;
    color: rgb(211, 242, 34);
    width:30%;
}

.trail_nav{
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 20px;


    
}

.trail_nav a{
    text-decoration: none;
    color:rgb(12, 31, 31);
    font-size:medium;
}