{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block 'title' %} Profile {% endblock %}

{% block 'body' %}
{% if messages %}
{% for message in messages %}
<p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}> {{message}} </p>
{% endfor %}
{% endif %}
<div class="text-center fw-bold">
    <p> Please fill the following form:</p> 
</div>

<div class="w-100 p-4">
    <p class="fw-bold lead">PROFILE INFORMATION</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                {{userform|crispy}}
                {{bioform|crispy}}
                {{profileform|crispy}}
                
            </div>
        </div>
        <button class="btn btn-large p-3 mx-auto" type="submit" style="background-color:rgb(211, 242, 34)">Submit</button>
    </form>
</div>
{% endblock %}